name: Spring boot CI

on:
  pull_request:
    branches:
      - master
      - main

jobs:
  check-tasks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Grant scripts permition
        run: chmod +x ./mvnw ./.test/run-test.sh

      - name: Compile Spring app
        run: ./mvnw clean package

      - name: Run Spring app
        run: java -jar ./target/*.jar &

      - name: Run tests
        run: ./.test/run-test.sh